*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #0e0606;
}
::-webkit-scrollbar-thumb {
    background: rgb(5, 5, 5);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(8, 8, 8);
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300 px;
    padding: 0 300px;
    margin: auto;
}
.about, .services, .skills, .contact, footer{
    font-family: 'Algerian', sans-serif;
}
.about .about-content, 
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: right;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: right;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Algerian', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: rgb(5, 0, 1);
    padding: 0 5px;
    background: rgb(247, 246, 246);
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Algerian', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(68, 9, 177);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: rgb(244, 248, 244);
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: rgb(2, 8, 0);
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: rgb(131, 4, 4);
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: rgb(2, 1, 12);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: rgb(238, 11, 11);
}
.navbar.sticky .menu li a:hover{
    color: rgb(159, 197, 20);
}

/* menu btn styling */
.menu-btn{
    color: rgb(14, 1, 1);
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgb(14, 2, 4);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: rgb(241, 245, 245);
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

  
/* home section styling */
.home{
    display: flex;
    background: url("images/background.JPG") no-repeat center;
    height: 100vh;
    color: rgb(249, 252, 250);
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Algerian', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 30px;
}
.home .home-content .text-1{
    font-size: 25px;
}
.home .home-content .text-2{
    font-size: 40px;
    font-weight: 300;
    margin-left:-3px;
}
.home .home-content .text-3{
    font-size: 30px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: rgb(244, 247, 244);
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: rgb(35, 117, 224);
    color: rgb(244, 247, 243);
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid rgb(81, 78, 250);
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: rgb(250, 246, 246);
    background: rgb(1, 0, 10);
}

/* about section styling */
.about{
    background: url("images/backg.JPG") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: rgb(250, 246, 246);
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: rgb(37, 220, 20);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(243, 42, 6);
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}

/* skills section styling */
.skills{
    background: url("images/backg.JPG") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 800px;
}


.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(228, 7, 7);
}
.skills-content .right .html::before{
    width: 50%;
}
.skills-content .right .css::before{
    width: 45%;
}
.skills-content .right .js::before{
    width: 45%;
}
.skills-content .right .php::before{
    width: 40%;
}
.skills-content .right .mysql::before{
    width: 30%;
}

/* contact section styling */
.contact{
    background: url("images/backg.JPG") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 800px;
}

.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 40px;
    color: rgb(218, 10, 10);
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: rgb(250, 248, 248);
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;  
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(214, 3, 3);
    background: rgb(228, 4, 4);
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: rgb(220, 20, 20);
    background: none;
}
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 30px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}
